<<<<<<< HEAD
=======
.steps {
   display: grid;
   gap: 2rem;
   margin-inline: auto;

   min-width: min-content;
   max-width: 35rem;
   border-radius: 10px;
   padding: 1rem;
   background-color: hsl(210 5% 20%);
}

.numbers {
   display: flex;
   justify-content: space-around;

   & span {
      display: flex;
      align-items: center;
      justify-content: center;

      min-width: min-content;

      background-color: #7c7591;
      border-radius: 100vw;
      width: 2rem;
      aspect-ratio: 1 /1;
   }

   & .active {
      background-color: #7950f2;
   }
}

.message {
   text-align: center;
   font-weight: bold;
}

.buttons {
   text-align: center;
   display: flex;
   justify-content: space-around;

   & .btn {
      font-weight: bold;
      padding: 0.55em 1em;
      border-radius: 100vw;
      border: none;
      background-color: #7950f2;
      cursor: pointer;

      &:hover {
         filter: brightness(1.1);
      }
   }
}

.close {
   font-size: 1.5rem;
   position: relative;
   right: 0%;
   border: none;
   background-color: transparent;
   cursor: pointer;
}
>>>>>>> 8f2b4bd5c3a476241bd0818299c50e07f24fa58c
