.app {
    --dark-cyan: 185 75% 39%; /*hsl(185 75% 39%)*/
    --very-dark-blue: 229 23% 23%; /*hsl(229 23% 23%)*/
    --dark-gray: 0 0% 59%; /*hsl(0 0% 59%)*/
    --dark-grayish-blue: 227 10% 46%; /*hsl(227 10% 46%)*/
    --white: 0 0% 95%; /* hsl(0 0% 95%)*/
    --black: 0 0% 20%; /* hsl(0 0% 20%)*/

    --card-width: 25rem;
    --card-height: 26rem;
    --bg-size: calc(95% - ((100vw - 1028px) / 2));

    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
    gap: 1rem;
    place-items: center;

    min-inline-size: 100%;
    min-block-size: 100svh;
    font-family: "Kumbh Sans";
    background: -500px -500px / var(--bg-size) fixed no-repeat url("/bg-pattern-top.svg"),
        750px 500px / var(--bg-size) fixed no-repeat url("/bg-pattern-bottom.svg");
    background-color: hsl(var(--dark-cyan));
}

.card {
    display: grid;
    grid-template-rows: calc(var(--card-height) * 0.75) calc(var(--card-height) * 0.25);

    min-inline-size: var(--card-width);
    min-block-size: var(--card-height);
    background-color: hsl(var(--white));
    background-image: url("/bg-pattern-card.svg");
    background-repeat: no-repeat no-repeat;
    background-size: contain;
    color: hsl(var(--very-dark-blue));
    border-radius: 10px;

    box-shadow: 0 0 50px 10px hsl(var(--very-dark-blue) / 0.25);
}

.card-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    margin-block-end: 1.5rem;
}

.avatar {
    width: 30%;
    aspect-ratio: 1 / 1;
    border-radius: 100vw;
    border: 6px solid hsl(var(--white));
    margin-block-end: 1rem;
}

.name-age {
    display: flex;
    align-items: baseline;
    gap: 0.75rem;
}
.name {
    display: inline-block;
    font-size: 1.2rem;
}
.age {
    display: inline-block;
    font-size: 1.2rem;
    color: hsl(var(--dark-grayish-blue));
}

.location {
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    color: hsl(var(--dark-gray));

    margin-block-start: 0.5rem;
}

.card-social {
    display: flex;
    align-items: center;
    justify-content: space-around;

    border-top: 1px solid hsl(var(--dark-gray) / 0.25);
}

.stats {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.stat-value {
    font-size: 1.25rem;
    font-weight: 700;
}
.stat-title {
    font-size: 0.65rem;
    font-weight: 700;
    letter-spacing: 1px;

    color: hsl(var(--dark-gray));
}

.attribution {
    font-size: 0.85rem;
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;

    & a {
        color: hsl(var(--very-dark-blue));
    }
    & span {
        margin-inline: 0.5rem;
    }
}

@media only screen and (width <= 450px) {
    .app {
        --card-width: 21rem;
        --card-height: 23rem;

        background: -350px -300px / 150% no-repeat url("/bg-pattern-top.svg"),
            200px 400px / 200% no-repeat url("/bg-pattern-bottom.svg");
        background-color: hsl(var(--dark-cyan));
    }
}
