@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
    --dark-cyan: 185 75% 39%; /*hsl(185 75% 39%)*/
    --very-dark-blue: 229 23% 23%; /*hsl(229 23% 23%)*/
    --dark-gray: 0 0% 59%; /*hsl(0 0% 59%)*/
    --dark-grayish-blue: 227 10% 46%; /*hsl(227 10% 46%)*/
    --white: 0 0% 95%; /* hsl(0 0% 95%)*/
    --black: 0 0% 20%; /* hsl(0 0% 20%)*/

    display: grid;
    place-items: center;

    font-family: "Kumbh Sans";
    background: -500px -500px / 75% no-repeat url("/bg-pattern-top.svg"),
        750px 500px / 75% no-repeat url("/bg-pattern-bottom.svg");
    background-color: hsl(var(--dark-cyan));
}

@media only screen and (width <= 375px) {
    body {
        background: -350px -300px / 150% no-repeat url("/bg-pattern-top.svg"),
            200px 400px / 200% no-repeat url("/bg-pattern-bottom.svg");
        background-color: hsl(var(--dark-cyan));
    }
}
