:where(*, *::before, *::after) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
}

:where(html) {
    block-size: 100vh;
    block-size: 100svh;
    font-size: 100%;
    scroll-behavior: smooth;
}

:where(body) {
    min-block-size: 100%;
    text-rendering: optimizeSpeed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.6;
}

:where(img, picture, svg) {
    display: block;
    max-width: 100%;
}

:where(ul[role="list"], ol[role="list"]) {
    list-style: none;
}

:where(input, button, textarea, select) {
    font-family: inherit;
}

:where(h1, h2, h3, h4, h5) {
    line-height: 1.3;
}

:where(h1) {
    font-weight: 800;
    font-size: 3.0517rem;
}

:where(h2) {
    font-weight: 700;
    font-size: 2.4414rem;
}

:where(h3) {
    font-weight: 600;
    font-size: 1.9531rem;
}

:where(h4) {
    font-weight: 500;
    font-size: 1.5625rem;
}

:where(h5) {
    font-weight: 400;
    font-size: 1.25rem;
}

:where(p) {
    font-weight: 400;
    font-size: 1rem;
}

:where(small) {
    font-size: 0.75rem;
}
